.container{
    width: 90vw;
    overflow: hidden;
    margin: 0 auto;
}

.banner{
    width: 1260vw;
}

.banner div{
    width: 90vw;
    float: left;
}

div img{
    width: 100%;
}

button{
    height: 15px;
    width: 15px;
    
    background-color: #fff;
    border: 1px solid orange;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}