.cantainer{
    width: 90vw;
    overflow: hidden;
    margin: 0 auto;
}

.banner{
    width: 1260vw;
    display: flex;
}

.banner div{
    width: 90vw;
}

div img{
    width: 100%;
}

div{
    box-sizing: border-box;
    flex-grow: 1;
    justify-content: space-between;
}
